
 <div class="row">
    <div class="col-12 col-md-12">
      <h4> TERMINAL 1</h4>
    </div>
 </div>
 

   <div class="row" style="    position: relative;
   top: 2rem;">


      <div class="col-12 col-md-3 " 
      style="  border-radius: 2px;">
      
          <div class="row" style="margin-bottom: 0px;
      ">
              <div class="col-12 col-md-12" style="    background-color: #00acc1 !important;
              color: white;
              text-align: center;">
                  <div class="card-header">GATE1</div>
              </div>
            
        
            </div>
          
          <div class="row" style="margin-bottom: 0px; background: #00bcd4 !important">
              <div class="col-12 col-md-6 col-sm-12" style="border-right:1px solid white;
              border-bottom: 1px solid white  ">
                <div class="card-body">
                 
                        <p class="card-stats-title">
                           Current IN</p>
                        <h6 class="card-stats-number">100</h6>
                    
                  </div>
              </div>
              <div class="col-12 col-md-6 col-sm-12" style=" border-bottom:1px solid white;">
                  <div class="card-body">
                     
                      <p class="card-stats-title">
                          Current OUT</p>
                       <h6 class="card-stats-number">200</h6>
                    </div>
              </div>
        
            </div>
            <div class="row" style="margin-bottom: 0px; background: #00bcd4 !important">
                <div class="col-12 col-md-6 col-sm-12"  style="border-right: 1px solid white;
               ">
                  <div class="card-body">
                     
                      <p class="card-stats-title">
                          Voltage IN</p>
                       <h6 class="card-stats-number">300</h6>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-sm-12" style="    border-top: 1px solid white;">
                    <div class="card-body">
                       
                        <p class="card-stats-title">
                            Voltage OUT</p>
                         <h6 class="card-stats-number">400</h6>
                      </div>
                </div>
          
              </div>
          


      </div>


    <div class="col-12 col-md-3" 
   
    >
      
            <div class="card flipcard" id="card1">
              <div class="card-content red new-accent-2 white-text" >
                  <p class="card-stats-compare">
                   GATE 2
                  </p>
                <p class="card-stats-title">
                  Current IN</p>
                <h4 class="card-stats-number">100</h4>
                
              </div>
              <div class="card-action red darken-1" >
                <div id="" class="center-align sales-compositebar2">
                  <canvas width="227" height="25" style="display: inline-block; width: 227px; height: 25px; vertical-align: top;">
                  </canvas></div>
              </div>
            </div> 
            <div class="card flipcard" id="card2" style="display: none;">
              <div class="card-content cyan new-accent-2 white-text" >
                  <p class="card-stats-compare">
                   GATE 2
                  </p>
                <p class="card-stats-title">
                  Current OUT</p>
                <h4 class="card-stats-number">200</h4>
                
              </div>
              <div class="card-action cyan darken-1">
                <div id="" class="center-align profit-tristate">
                  <canvas width="227" height="25" style="display: inline-block; width: 227px; height: 25px; vertical-align: top;">
                  </canvas></div>
              </div>
            </div>
            <div class="card flipcard" id="card3" style="display: none; ">
              <div class="card-content teal new-accent-2 white-text">
                  <p class="card-stats-compare">
                   GATE 2
                  </p>
                <p class="card-stats-title">
                  Voltage IN</p>
                <h4 class="card-stats-number">300</h4>
                
              </div>
              <div class="card-action teal darken-1">
                <div id="" class="center-align sales-compositebar2">
                  <canvas width="227" height="25" style="display: inline-block; width: 227px; height: 25px; vertical-align: top;">
                  </canvas></div>
              </div>
            </div>
            <div class="card flipcard" id="card4" style="display: none;">
              <div class="card-content deep-orange new-accent-2 white-text" >
                <p class="card-stats-compare">
                   GATE 2
                  </p>
                <p class="card-stats-title">
                  Voltage OUT</p>
                <h4 class="card-stats-number">400</h4>
                
              </div>
              <div class="card-action deep-orange darken-1">
                <div id="" class="center-align clients-bar2"><canvas width="227" height="25" style="display: inline-block; width: 227px; height: 25px; vertical-align: top;"></canvas></div>
              </div>
            </div>
          </div>

   







    </div>
  